<h1>Set Your Goals</h1>

<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>

		<%= f.label :target_weight %>
		<%= f.number_field :target_weight, class: 'form-control' %>

		<%= f.label :current_weight %>
		<%= f.number_field :current_weight, class: 'form-control' %>

		<%= f.label :desired_pace %>
		<%= f.radio_button :desired_pace, class: 'form-control' %>

		<%= f.label :current_bodyfat %>
		<%= f.number_field :current_bodyfat, class: 'form-control' %>

		<%= f.label :activity_level %>
		<%= f.select :activity_level, class: 'form-control' %>

		<%= f.label :carb_percent %>
		<%= f.select :carb_percent, (0..100).to_a.map{|n| [n,n]}, class: 'form-control' %>

		<%= f.label :protein_percent %>
		<%= f.select :protein_percent, (0..100).to_a.map{|n| [n,n]}, class: 'form-control' %>		

		<%= f.label :fat_percent %>
		<%= f.select :fat_percent, (0..100).to_a.map{|n| [n,n]}, class: 'form-control' %>		

		<%= f.submit "Let's get started", class: "btn btn-primary"  %>
		<% end %>
	</div>
</div>
