<h1>Welcome, <%= @username %>!<h1>

<div class ="btn-group">
	<%= link_to "Quick Add: Food", food_lookup_path, :class => "btn btn-default", id: "add_buttons" %>
	<%= link_to "Quick Add: Water", '#', :class => "btn btn-default", id: "add_buttons" %>
	<%= link_to "Quick Add: Sleep", '#', :class => "btn btn-default", id: "add_buttons" %>
	<%= link_to "Quick Add: Workout", '#', :class => "btn btn-default", id: "add_buttons" %>
</div>